@import "tailwindcss";

@theme {
  /* colors */
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-bodyBg: hsl(216, 12%, 8%);
  --color-cardBg: hsl(213, 19%, 18%);
  --color-cardText: hsl(217, 12%, 63%);
  --color-cardHead: hsl(0, 100%, 100%);
  --color-gradient-1: hsl(215, 20%, 17%);
  --color-gradient-2: hsl(216, 24%, 12%);

  /* font family */
  --font-ovepass: "Overpass", sans-serif;
}
